.about-us {
  padding: 96px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px; /* poderia ser margin-bottom pra cada elemento, gap dá um espaçamento entre todos
  os filhos de uma div com display flex*/
}

.about-us span {
  color: var(--main-color);
}

.about-us h1 {
  font-size: 2rem;
  color: var(--title-color);
  text-align: center;
}

.about-us p {
  color: var(--text-color);
  max-width: 50%;
  text-align: center;
  line-height: 24px;
}

@media screen and (max-width: 850px) {
  .about-us p {
    max-width: 70%;
  }
}