@import url(./app.css);
@import url(./navbar.css);
@import url(./header.css);
@import url(./metrics.css);
@import url(./jobs.css);
@import url(./depositions.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Inter', sans-serif;
}

:root {
  --primary: #8e2424;
  --secondary: #101828;
  --tertiary: #667085;
  --background: #ffffff;
  --backgroundNewsletter: #f9fafb;
  --textColor: #34404e;
  --hoverButton: #b22727;
  --hoverText: #413F42;
  --border-color: #eaecf0;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
